<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="emailInput" class="form-label">Usuario</label>
            <input
              type="email"
              class="form-control"
              id="emailInput"
              aria-describedby="emailHelp"
              formControlName="userName"
            />
            <div id="emailHelp" class="form-text">
              Ingresa el correo electrónico proveído por la empresa
            </div>
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              formControlName="userPassword"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="adminCheck"
              formControlName="userAdminCheck"
            />
            <label class="form-check-label" for="adminCheck"
              >Soy administrador</label
            >
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            *ngIf="invalidCredentialsError"
          >
            El usuario <span>NO</span> existe.
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            *ngIf="userNameError"
          >
            {{ userNameMessageError }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            *ngIf="userPasswordError"
          >
            {{ userPasswordMessageError }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            id="loginButton"
            (click)="login()"
          >
            Iniciar Sesión
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
