<app-public-header></app-public-header>
<main class="container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner mb-4" style="max-height: 450px">
      <div class="carousel-item active">
        <img src="assets/question.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/question2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/foco.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row justify-content-md-start">
    <div class="col-sm-8 mt-1">
      <div class="list-group">
        <a
          routerLink="/login"
          class="list-group-item list-group-item-action flex-column align-items-start active"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Test de personalidad</h5>
            <small>Tiempo estimado del test 10 minutos</small>
          </div>
          <p class="mb-1">
            Las personas tenemos diferentes formas de pensar y comportarnos que
            nos diferencian a unos de otros. El ser humano siempre ha caído en
            la tentación de crear tipos o modelos de personalidad en los que
            poder encajar a los demás y a uno mismo con el fin de comprendernos
            mejor. Los signos zodiacales son un ejemplo popular y con una larga
            historia.
            <br />
            La psicología moderna ha recogido esta necesidad y ha elaborado las
            denominadas pruebas o tests de personalidad. El test de las 16
            personalidades o MBTI se ha hecho muy popular en Estados Unidos y
            Corea del Sur. En el país norteamericano es utilizado por las
            empresas y por oficinas gubernamentales en la gestión de los
            recursos humanos (entrevistas de trabajo).
          </p>
          <div class="text-center">
            <img
              class="img-fluid rounded"
              src="assets/fondo_2.jpeg"
              alt="personalidad"
            />
          </div>
        </a>
        <a
          routerLink="/login"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Test VARK</h5>
            <small>Tiempo estimado del test 15 minutos</small>
          </div>
          <p class="mb-1">
            Neil Fleming en colaboración con Collen Mills en 1992, desarrollaron
            un instrumento sencillo para determinar las preferencias de
            modalidad sensorial a la hora de procesar información.
            <br />
            Más que ser una herramienta de diagnóstico, se pretendía que el
            instrumento sirviera como un catalizador para la reflexión: a partir
            de los comentarios como “¡haaa!, ahora entiendo porque aprendo más
            rápido y mejor cuando estoy en ciertas situaciones…” a este
            instrumento lo llamaron VARK (Visual, Aural, Read/Write, Kinesthetic
            por su siglas en inglés) (Visual, Auditivo, Lectura/Escritura y
            Quinestésico);
            <br />
            De acuerdo a resultados de estudios realizados en algunos países con
            el empleo del VARK, hubo un aprovechamiento notorio en los
            estudiantes debido a que los profesores detectaron las preferencias
            de enseñanza de acuerdo a los estilos de aprendizaje de los alumnos.
          </p>
          <div class="text-center">
            <img class="img-fluid rounded" src="assets/vark.jpeg" alt="VARK" />
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 mt-1">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Test de personalidad
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Este test de personalidad gratuito te permitirá obtener tu
                código de cuatro letras de acuerdo con la tipología de Jung
                desarrollada por Myers, Briggs, von Franz y van der Hoop.
                Nuestro test es una de las varias maneras de cuantificar las
                interpretaciones de tipología de Jung, similar pero no idéntica,
                a la prueba MBTI (Myers-Briggs Type Indicator® MBTI), el
                indicador de tipo Jung y otros instrumentos similares.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Test VARK
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Este cuestionario tiene como propósito ayudarle a conocer cómo
                trabaja con la información y cuál es su estilo de aprendizaje
                preferido para captar, procesar y proporcionar ideas e
                información. Los diferentes estilos que se manejan en este
                cuestionario son:
              </p>

              <ul>
                <li>Visual</li>
                <li>Auditivo</li>
                <li>Lecto-escritor</li>
                <li>Kinestésico</li>
              </ul>
              Básicamente usted podrá identificar y hacer conscientes sus
              preferencias sensoriales de manera que identifique situaciones de
              aprendizaje que pueda aprovechar a su favor. Los estilos de
              aprendizaje son variables en el tiempo y existe siempre la
              posibilidad de ser multisensorial, por lo cual usted podría
              compartir características de los demás estilos según esta
              taxonomía.
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <!--Form-->
        <form
          class="border border-secondarys p-2"
          style="--bs-border-opacity: 0.5"
          [formGroup]="suggestionsForm"
        >
          <fieldset>
            <legend>Contacto o sugerencias</legend>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label mt-4"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Revisa bien tu informacion.</small
              >
            </div>

            <div class="form-group">
              <label for="exampleTextarea" class="form-label mt-4"
                >Escribe tu sugerencia</label
              >
              <textarea
                class="form-control"
                id="exampleTextarea"
                rows="3"
                formControlName="text"
              ></textarea>
            </div>
            <br />
            <ngx-recaptcha2
              #captchaElem
              [siteKey]="siteKey"
              [useGlobalDomain]="true"
              (success)="handleSuccess()"
              formControlName="recaptcha"
            >
            </ngx-recaptcha2>
            <br />
            <button
              [disabled]="!valid"
              type="submit"
              (click)="onClick()"
              class="btn btn-primary"
            >
              Enviar
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
