<app-admin-header></app-admin-header>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home-tab-pane"
      type="button"
      role="tab"
      aria-controls="home-tab-pane"
      aria-selected="true"
    >
      VARK
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile-tab-pane"
      type="button"
      role="tab"
      aria-controls="profile-tab-pane"
      aria-selected="false"
    >
      Personalidad
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="home-tab-pane"
    role="tabpanel"
    aria-labelledby="home-tab"
    tabindex="0"
  >
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
          <app-chart-global-vark-summary></app-chart-global-vark-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-4">
          <app-chart-edi-vark-summary></app-chart-edi-vark-summary>
        </div>
        <div class="col-xs-12 col-md-6 mb-4">
          <app-chart-factura-vark-summary></app-chart-factura-vark-summary>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="profile-tab-pane"
    role="tabpanel"
    aria-labelledby="profile-tab"
    tabindex="0"
  >
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
          <app-chart-global-summary></app-chart-global-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-4">
          <app-chart-edi-summary></app-chart-edi-summary>
        </div>
        <div class="col-xs-12 col-md-6 mb-4">
          <app-chart-factura-summary></app-chart-factura-summary>
        </div>
      </div>
    </div>
  </div>
</div>
