@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body{
  color: #fff;
}
.container{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.500), rgba(0,0,0,0.5)), url(fondo_2.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 40px;
  text-decoration: none;
}
span{
  color: #f9004d;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
}
nav ul li a:hover{
  color: #f9004d;
}
.login{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}
.btn{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}

.content{
  margin-top: 10%;
  max-width: 600px;
}
.content h2{
  font-size: 60px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
a{
  color: rgb(255, 255, 255);
}
.link {
  margin-top: 30px;
}
.hire{
  color: #000;
  text-decoration: none;
  background: white;
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.login:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/*========== pantallas 1603 lap ==========*/

@media screen and (max-width: 1603px) {    
  .columna {
      width:33%;
      background-image: 100%;
  }

/************ CABECERA ******************/
  .img1{
      width:65px; 
      height:65px;
  }

  #title{
      font-size:35px;
  }

  #boxcenter {
      /* centrar vertical y horizontalmente */
      position: absolute;
      top: 60%;
      left: 7%;
      margin: -30px 0 0 -25px;
  }
  
  #boxcenter2 {
      /* centrar vertical y horizontalmente */
      position: absolute;
      top: 60%;
      right: 25%;
      margin: -30px 0 0 -25px;
  }

/************ CUERPO ******************/
.labeltext{
  font-size:15px;
}

.f_info_input{
  border-radius: 5px;
  height: 17px;
  width: 160px;
}
.f_info_1{
  border-radius: 5px;
  height: 17px;
  width: 110px;
}
.f_info_email{
  border-radius: 5px;
  height: 17px;
  width: 260px;
}
.f_info_select{
  border-radius: 5px;
  height: 17px;
  width: 550px;
}
#f_boton{
  background-color: rgb(197, 197, 197);
  height: 17px;
  width: 110px;
}

/************ PIE ******************/
#img2{
  width:150px; 
  height:110px;
}

#img3{
  width:190px; 
  height:190px;
}

#box2center {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  right: 40%;
  margin: 180px 0 0 -25px;
}

#box2center2 {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  right: 5%;
  margin: 115px 0 0 -25px;
}
}

/*========== pantallas 1217 lap pequeña ==========*/
@media screen and (max-width: 1219px) {    
  .columna {
      width:33%;
      margin-bottom:45px;
  }

  .carta_div{
      border:          2px solid black;
      position: absolute;
      top: 50%;
      height: 90%;
      width: 50%;
      overflow-y: scroll;
      transform: translate(-45%, -50%);
    }
  
/************ CABECERA ******************/
#title_box1{
  position: absolute;
  top:         15%;
}

  .img1{
      width:70px; 
      height:70px;
  }

  #title{
      font-size:30px;
  }

  #boxcenter {
      /* centrar vertical y horizontalmente */
      position: absolute;
      top: 50%;
      left: 9%;
      margin: -30px 0 0 -25px;
  }
  
  #boxcenter2 {
      /* centrar vertical y horizontalmente */
      position: absolute;
      top: 50%;
      right: 10%;
      margin: -30px 0 0 -25px;
  }

/************ CUERPO ******************/

#info_box1{
  position: absolute;
  top:         80%;
}

.labeltext{
  font-size:20px;
  display: block;
}

.f_info_input{
  border-radius: 5px;
  height: 20px;
  width: 160px;
  display: block;
}
.f_info_1{
  border-radius: 5px;
  height: 20px;
  width: 110px;
  display: block;
}
.f_info_email{
  border-radius: 5px;
  height: 20px;
  width: 260px;
  display: block;
}
.f_info_select{
  border-radius: 5px;
  height: 20px;
  width: 550px;
  display: block;
}
#f_boton{
  background-color: rgb(197, 197, 197);
  height: 20px;
  width: 110px;
  margin-bottom:5px;
}

/************ PIE ******************/

#container{
  width:       100%;
  height:      100%;
  overflow-y: scroll;
}

#img2{
  width:150px; 
  height:110px;
  display: block;
}

#img3{
  width:190px; 
  height:190px;
  display: block;
}

#box2center {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 123%;
  right: 37%;
  margin: 240px 0 0 -25px;
  display: block;
}

#box2center2 {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 115%;
  right:34%;
  margin: 120px 0 0 -25px;
  display: block;
}

}



/*========== pantallas 1217 moviles ==========*/
@media screen and (max-width: 450px) {    
  .columna {
      width:33%;
      margin-bottom:45px;
  }

  .carta_div{
      border:          2px solid black;
      position: absolute;
      top: 50%;
      height: 90%;
      width: 95%;
      overflow-y: scroll;
      transform: translate(-43%, -50%);
    }
  
/************ CABECERA ******************/
#title_box1{
  position: absolute;
  top:         20%;
}

  .img1{
      width:55px; 
      height:55px;
      display: block;
  }

  #title{
      font-size:25px;
      display: block;
  }

  #boxcenter {
      position: absolute;
      top: 60%;
      left: 15%;
      margin: -60px 0 0 -25px;
  }
  
  #boxcenter2 {
      position: absolute;
      top: 60%;
      left: 80%;
      margin: -60px 0 0 -25px;
  }

/************ CUERPO ******************/

#info_box1{
  position: absolute;
  top:         90%;
  left: 3%;
}

.labeltext{
  font-size:15px;
  display: block;
}

.f_info_input{
  border-radius: 5px;
  height: 17px;
  width: 160px;
  display: block;
}
.f_info_1{
  border-radius: 5px;
  height: 17px;
  width: 110px;
  display: block;
}
.f_info_email{
  border-radius: 5px;
  height: 17px;
  width: 260px;
  display: block;
}
.f_info_select{
  border-radius: 5px;
  height: 17px;
  width: 320px;
  display: block;
}
#f_boton{
  background-color: rgb(197, 197, 197);
  height: 30px;
  width: 170px;
  margin-bottom:10px;
}

/************ PIE ******************/

#container{
  width:       100%;
  height:      100%;
  overflow-y: scroll;
}

#img2{
  width:150px; 
  height:110px;
  display: block;
}

#img3{
  width:190px; 
  height:190px;
  display: block;
}

#box2center {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 135%;
  right: 28%;
  margin: 240px 0 0 -25px;
  display: block;
}

#box2center2 {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 125%;
  right:23%;
  margin: 120px 0 0 -25px;
  display: block;
}

}
 