<app-public-header></app-public-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 mb-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card" style="width: 100%">
            <img src="assets/vark.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Prueba Vark</h5>
              <p class="card-text">
                El modelo VARK, toma en cuenta, cuatro estilos de aprendizajes:
                visual, auditivo, lector – escritor y kinestésico.
              </p>
              <a routerLink="/tests/vark-test" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card" style="width: 100%">
            <img src="assets/personality.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Prueba de Personalidad</h5>
              <p class="card-text">
                Prueba psicológica que evalúa los rasgos principales que definen
                la personalidad de los individuos.
              </p>
              <a routerLink="/tests/personality-test" class="btn btn-primary"
                >Ir</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
